@font-face {
  font-family: "Chess";
  src: url("chess.ttf") format("ttf");
}

* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background-repeat: repeat;
  background-position: center;
  text-align: center;
}

.dark {
  background-color: #191d24;
  background-image: url(src/ui/img/pattern.png);
  color: #ddd;
}

.light {
  background-color: #cfcfcf;
  background-image: url(src/ui/img/pattern-light.png);
  color: #222;
}

.board {
  /* width: 600px;
  height: 600px;
  width: 800px;
  height: 800px; */
  /* width: 1024px;
  height: 1024px; */
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  max-width: 100%;
  max-height: 95vh;
}

.layout {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-areas:
    "setup board controls"
    "setup board moves";
}

.moves-box {
  /* background: rgba(255, 192, 203, 0.1); */
  height: 85vh;
  grid-area: moves;
}

.board-box {
  /* background: rgba(255, 166, 0, 0.1); */
  height: 100vh;
  grid-area: board;
}

.setup-box {
  /* background: rgba(135, 207, 235, 0.1); */
  height: 100vh;
  grid-area: setup;
}

.controls-box {
  /* background: rgba(0, 255, 0, 0.1); */
  height: 15vh;
  grid-area: controls;
}

.controls__button {
  margin: 5px;
  padding: 5px;
  cursor: pointer;
}

.moves {
  padding: 20px;
}

.move {
  display: inline-block;
  width: 50%;
  min-width: 150px;
  text-align: left;
}

.ply {
  padding-left: 10px;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .layout {
    grid-template-columns: 1fr;
  }

  .moves-box {
    height: auto;
  }

  .board-box {
    height: auto;
  }

  .setup-box {
    height: auto;
  }
}
