@font-face {
  font-family: "Chess";
  src: url("chess.ttf") format("ttf");
}

* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  font-size: 10px;
}

body {
  background-repeat: repeat;
  background-position: center;
  text-align: center;
  font-family: Ubuntu, sans-serif;
}

.dark {
  background-color: #232831;
  /* background-image: url(src/ui/img/pattern.png); */
  color: #ddd;

  --color-btn: rgb(0, 173, 136);
  --color-btn-light: rgb(0, 207, 162);
  --color-tab: #899399;
  --color-tab-light: #a9b4bd;
  --color-bg-block: #0e0e13;
  --color-bg-input: #20242a;
  --color-border-input: #2d323a;
  --color-highlight: #ffffff22;
  --color-text: #aaa;
  --color-text-contrast: #0e0e13;
  --color-text-input: #acbddb;
  --color-text-dimmed: #677794;
}

.light {
  background-color: #a7b3b9;
  /* background-image: url(src/ui/img/pattern-light.png); */
  color: #222;
  --color-btn: rgb(0, 148, 116);
  --color-btn-light: rgb(0, 114, 89);
  --color-tab: #5d6468;
  --color-tab-light: #3e4346;
  --color-bg-block: #f1f1f1;
  --color-bg-input: #fcfcfc;
  --color-border-input: #7f8999;
  --color-highlight: #00000022;
  --color-text: rgb(46, 54, 58);
  --color-text-contrast: #fff;
  --color-text-input: #46494e;
  --color-text-dimmed: #767980;
}

.upload {
  visibility: hidden;
  padding: 0;
}

.upload::before {
  content: "UPLOAD PGN FILE";
  visibility: visible;
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
}

button,
.upload::before {
  padding: 10px;
  font-family: "Ubuntu";
  font-size: 1.5rem;
  background: var(--color-btn);
  color: var(--color-text-contrast);
  border-radius: 5px;
  width: 100%;
}

button:hover,
.upload:hover::before {
  background: var(--color-btn-light);
  cursor: pointer;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  font-family: "Fira Mono";
  font-size: 1.4rem;
  margin-bottom: 10px;
  background: var(--color-bg-input);
  border: solid 1px var(--color-border-input);
  color: var(--color-text-input);
  outline: none;
}

input:focus,
textarea:focus {
  border-color: rgb(0, 87, 68);
}

h2 {
  color: var(--color-text);
  text-align: left;
  font-size: 1.8rem;
  margin: 25px 0 10px 0;
}

h3 {
  color: var(--color-text);
  text-align: left;
  font-size: 1.6rem;
  margin: 15px 0 10px 0;
}

hr {
  margin-top: 20px;
  border-top: solid 1px var(--color-highlight);
}

.board {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  max-width: 100%;
  max-height: 100%;
}

.double {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
}

.layout {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr;

  grid-template-areas:
    "setup board moves"
    "setup board controls";

  height: 100vh;
}

.board-box {
  /* background: rgba(255, 166, 0, 0.1); */
  height: 100vh;
  grid-area: board;
  padding: 20px 0;
}

@media screen and (max-width: 1024px) {
  .layout {
    grid-template-columns: 1fr;
    grid-template-areas:
      "board"
      "moves"
      "setup";
  }

  .moves-box {
    height: auto;
  }

  .board-box {
    height: auto;
  }

  .setup-box {
    height: auto;
  }
}

::placeholder {
  color: var(--color-text-dimmed);
}
