@font-face {
  font-family: "Chess";
  src: url("chess.ttf") format("ttf");
}

* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  font-size: 10px;
}

body {
  background-repeat: repeat;
  background-position: center;
  text-align: center;
  font-family: Ubuntu, sans-serif;
}

button {
  padding: 10px;
  font-family: "Ubuntu";
  font-size: 1.5rem;
  background: rgb(0, 173, 136);
  color: #0e0e13;
  border-radius: 5px;
  width: 100%;
}

button:hover {
  background: rgb(0, 207, 162);
  cursor: pointer;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  font-family: "Fira Mono";
  font-size: 1.4rem;
  margin-bottom: 10px;
  background: #20242a;
  border: solid 1px #2d323a;
  color: #acbddb;
  outline: none;
}

input:focus,
textarea:focus {
  border-color: rgb(0, 87, 68);
}

h2 {
  color: #aaa;
  text-align: left;
  font-size: 1.8rem;
  margin: 25px 0 10px 0;
}

.dark {
  background-color: #191d24;
  /* background-image: url(src/ui/img/pattern.png); */
  color: #ddd;
}

.light {
  background-color: #cfcfcf;
  /* background-image: url(src/ui/img/pattern-light.png); */
  color: #222;
}

.board {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  max-width: 100%;
  max-height: 95vh;
}

.double {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
}

.layout {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr;

  grid-template-areas:
    "setup board moves"
    "setup board controls";

  height: 100vh;
}

.board-box {
  /* background: rgba(255, 166, 0, 0.1); */
  height: 100vh;
  grid-area: board;
  padding: 20px;
}

@media screen and (max-width: 1024px) {
  .layout {
    grid-template-columns: 1fr;
    grid-template-areas:
      "board"
      "moves"
      "setup";
  }

  .moves-box {
    height: auto;
  }

  .board-box {
    height: auto;
  }

  .setup-box {
    height: auto;
  }
}

::placeholder {
  color: #677794;
}
