/* ==UserStyle==
@name           Anarchy chess set
@namespace      chess.com
@version        1.0.0
@description    Chess set for chess.com
@author         Maciej Caderek
==/UserStyle== */

@-moz-document domain("chess.com") {
  .piece.bb,
  .promotion-piece.bb {
    background-image: url(https://raw.githubusercontent.com/sharechess/sharechess/main/public/pieces/anarchy/bb.svg) !important;
  }

  .piece.bn,
  .promotion-piece.bn {
    background-image: url(https://raw.githubusercontent.com/sharechess/sharechess/main/public/pieces/anarchy/nb.svg) !important;
  }

  .piece.br,
  .promotion-piece.br {
    background-image: url(https://raw.githubusercontent.com/sharechess/sharechess/main/public/pieces/anarchy/rb.svg) !important;
  }

  .piece.bp,
  .promotion-piece.bp {
    background-image: url(https://raw.githubusercontent.com/sharechess/sharechess/main/public/pieces/anarchy/pb.svg) !important;
  }

  .piece.bq,
  .promotion-piece.bq {
    background-image: url(https://raw.githubusercontent.com/sharechess/sharechess/main/public/pieces/anarchy/qb.svg) !important;
  }

  .piece.bk,
  .promotion-piece.bk {
    background-image: url(https://raw.githubusercontent.com/sharechess/sharechess/main/public/pieces/anarchy/kb.svg) !important;
  }

  .piece.wb,
  .promotion-piece.wb {
    background-image: url(https://raw.githubusercontent.com/sharechess/sharechess/main/public/pieces/anarchy/bw.svg) !important;
  }

  .piece.wn,
  .promotion-piece.wn {
    background-image: url(https://raw.githubusercontent.com/sharechess/sharechess/main/public/pieces/anarchy/nw.svg) !important;
  }

  .piece.wr,
  .promotion-piece.wr {
    background-image: url(https://raw.githubusercontent.com/sharechess/sharechess/main/public/pieces/anarchy/rw.svg) !important;
  }

  .piece.wp,
  .promotion-piece.wp {
    background-image: url(https://raw.githubusercontent.com/sharechess/sharechess/main/public/pieces/anarchy/pw.svg) !important;
  }

  .piece.wq,
  .promotion-piece.wq {
    background-image: url(https://raw.githubusercontent.com/sharechess/sharechess/main/public/pieces/anarchy/qw.svg) !important;
  }

  .piece.wk,
  .promotion-piece.wk {
    background-image: url(https://raw.githubusercontent.com/sharechess/sharechess/main/public/pieces/anarchy/kw.svg) !important;
  }
}
