.about__title {
  text-align: left;
  margin: 0 4.2rem 3rem 0;
}

.about {
  text-align: left;
  font-size: 1.2rem;
  max-width: 800px;
  margin: auto;
}

.about p {
  margin-top: 2rem;
  font-size: 1.4rem;
  line-height: 2rem;
}

.about ul {
  margin-top: 2rem;
  list-style: none;
  font-size: 1.4rem;
  line-height: 3rem;
}

.about li {
  margin-top: 0.5rem;
  margin-left: 2rem;
}

.about kbd {
  margin-top: 0.5rem;
  margin-left: 2rem;
  background-color: var(--color-tab);
  color: var(--color-text-contrast);
  padding: 0.5rem 1rem;
  margin-right: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0.5rem 0.5rem 1rem #00000033;
  font-family: "Fira Mono", monospace;
  font-weight: 500;
}

.about__shortcuts {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

ul.about__features {
  list-style: circle;
}
