.boards {
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.boards__ico {
  border: solid 0.5rem black;
  margin: 0.5rem;
  cursor: pointer;
  width: 7.2rem;
}

.boards__ico--active {
  border-color: white;
  cursor: default;
}
