.boards {
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.boards__ico {
  border: solid 5px black;
  margin: 5px;
  cursor: pointer;
}

.boards__ico--active {
  border-color: white;
  cursor: default;
}
