.boards {
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.boards__ico {
  cursor: pointer;
  width: 8.2rem;
  height: 8.2rem;
  padding: 0;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  border: solid 0.5rem transparent;
}

.boards__ico--active {
  cursor: default;
  border: solid 5px var(--color-frame-marker-active);
}
