.controls-box {
  grid-area: controls;
  padding: 0 20px 20px 20px;
}

.controls {
  background: #0e0e13;
  height: 100%;
  padding: 20px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.controls__button {
  margin: 3px;
  padding: 5px;
  font-size: 3rem;
  background: rgb(0, 173, 136);
  text-align: center;
  border-radius: 5px;
  width: 44px;
  height: 44px;
}

.controls__button:hover {
  background: rgb(0, 207, 162);
  cursor: pointer;
}

.controls__button:nth-child(5) {
  margin-right: 0px;
}

.controls__button:nth-child(1) {
  margin-left: 0px;
}
