.controls-box {
  grid-area: controls;
  padding: 0 2rem 2rem 2rem;
}

.controls {
  background: var(--color-bg-block);
  padding: 2rem;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.controls__button {
  margin: 0;
  padding: 0.5rem;
  font-size: 3rem;
  text-align: center;
  width: 4.4rem;
  height: 4.4rem;
  border-radius: 0;
}

.flip__button {
  margin-left: 3px;
  padding: 0.5rem;
  font-size: 3rem;
  text-align: center;
  border-radius: 5px;
  width: 4.4rem;
  height: 4.4rem;
}

.controls__button:hover {
  background: var(--color-btn-light);
  cursor: pointer;
}

.controls__button--last {
  margin-right: 3px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.controls__button--first {
  margin-left: 0px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

@media (orientation: portrait) {
  .controls-box {
    padding: 0;
  }

  .controls {
    background: var(--color-bg-block);
    padding: 1.5rem 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .controls__button {
    margin: 0.8vw;
    padding: 0.5rem;
    font-size: 3rem;
    text-align: center;
    width: 12.8vw;
    height: 12.8vw;
    border-radius: 5px;
  }

  .controls__button--next {
    width: 23vw;
  }

  .flip__button {
    margin: 0.8vw;
    padding: 0.5rem;
    font-size: 3rem;
    text-align: center;
    border-radius: 5px;
    width: 12.8vw;
    height: 12.8vw;
  }
}
