.controls-box {
  grid-area: controls;
  padding: 0 20px 20px 20px;
}

.controls {
  background: var(--color-bg-block);
  height: 100%;
  padding: 20px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.controls__button {
  margin: 3px;
  padding: 5px;
  font-size: 3rem;
  text-align: center;
  border-radius: 5px;
  width: 44px;
  height: 44px;
}

.controls__button:hover {
  background: var(--color-btn-light);
  cursor: pointer;
}

.controls__button--last {
  margin-right: 0px;
}

.controls__button--first {
  margin-left: 0px;
}
