.game-box {
  grid-area: moves;
  padding: 20px;
  min-width: 360px;
  height: 100vh;
}

.game-tabs {
  height: 100%;
  display: grid;
  grid-template-rows: 38px 1fr;
}

.game-tabs__btn {
  width: 48%;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  height: 38px;
  background: var(--color-tab);
}

.game-tabs__btn:hover {
  background: var(--color-tab-light);
}

.game-tabs__btn--active {
  width: 50%;
  background: var(--color-bg-block);
  color: var(--color-text);
  cursor: default;
}

.game-tabs__btn--active:hover {
  background: var(--color-bg-block);
}

.game-tabs__btn:nth-child(1) {
  margin-right: 2%;
}
