.game-tabs {
  margin: 10px;
  /* height: 100%; */
}

.game-tabs__btn {
  width: 50%;
  background: #2a2c38;
  padding: 10px;
  font-family: Ubuntu;
  font-size: 1.5rem;
  color: rgb(0, 207, 162);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  cursor: pointer;
}

.game-tabs__btn--active {
  width: 50%;
  background: #13141a;
  color: rgb(0, 173, 136);
  cursor: default;
}
