.game-box {
  grid-area: moves;
  padding: 2rem;
  padding-top: var(--header-margin);
  min-width: 35rem;
  height: 100vh;
}

@media (orientation: portrait) {
  .game-box {
    padding: 0;
    height: 800px;
  }
}

.game {
  height: 100%;
  display: grid;
  grid-template-rows: 3.8rem 19.5rem 1fr 8.4rem;
}

.game-tabs {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr;
  column-gap: 0.5rem;
}

.game-tabs--condensed {
  grid-template-columns: 1fr 1fr 1fr;
}

.span2 {
  grid-row-end: span 2;
}

.span3 {
  grid-row-end: span 3;
}
