.game-box {
  grid-area: moves;
  padding: 20px;
  padding-top: var(--header-margin);
  min-width: 375px;
  height: 100vh;
}

@media screen and (max-width: 1024px) {
  .game-box {
    padding: 0;
    height: 800px;
  }
}

.game {
  height: 100%;
  display: grid;
  grid-template-rows: 38px 195px 1fr 84px;
}

.game-tabs {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr;
  column-gap: 0.5rem;
}

.span2 {
  grid-row-end: span 2;
}

.span3 {
  grid-row-end: span 3;
}
