.header-box {
  height: var(--header-height);
  background-color: var(--color-bg-block);
  position: absolute;
  top: 0;
  width: 100%;
  display: grid;
  grid-template-columns: 200px 1fr;
  font-size: 1.8rem;
}

.header__logo {
  padding: 1rem;
  text-align: left;
  color: var(--color-text-dimmed);
}

.header__logo-pic {
  height: 2rem;
  max-width: 200px;
  background-image: var(--logo-url);
  background-repeat: no-repeat;
  background-size: contain;
}

.header__options {
  padding: 0 1rem 0;
  text-align: right;
}

.header__options-ico {
  display: inline-block;
  font-size: 2.4rem;
  position: relative;
  top: -0.2rem;
  padding-top: 1rem;
  height: 100%;
  margin-left: 0.5rem;
  text-align: center;
}

.header__options-ico,
.header__options-ico > a,
.header__options-ico > a:visited {
  color: var(--color-text);
}

.header__options-ico:hover,
.header__options-ico > a:hover {
  color: var(--color-btn);
  cursor: pointer;
}

.header__support,
.header__support:visited,
.header__support:active {
  position: absolute;
  top: 1rem;
  max-width: 300px;
  margin: auto;
  left: 50%;
  transform: translateX(-50%);
  color: #d33e5e;
}

.header__support:hover {
  text-decoration: none;
  color: #cf002d;
}

@keyframes beat {
  to {
    transform: scale(1.4);
  }
}

.header__support-ico {
  animation: beat 0.5s 6 alternate;
  transform-origin: center;
}

.header__support:hover .header__support-ico {
  animation: beat 0.5s infinite alternate;
}

@media (orientation: portrait) {
  .header__logo-pic {
    height: 2rem;
    max-width: 130px;
    background-image: var(--logo-mobile-url);
  }

  .header-box {
    grid-template-columns: 140px 1fr;
  }
}
