.load {
  background: #0e0e13;
  padding: 20px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.load__pgn-input {
  height: 30vh;
  margin-top: 20px;
}

.load__fen-btn,
.load__pgn-btn {
  width: 100%;
}
