.load {
  background: var(--color-bg-block);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.load__game-input {
  height: 25vh;
  margin-top: 2rem;
}

.load__game-input::-webkit-scrollbar {
  width: 0.7rem;
  cursor: pointer;
}

.load__game-input::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.load__game-input::-webkit-scrollbar-thumb {
  background-color: rgb(0, 59, 47);
  outline: 1px solid rgb(0, 59, 47);
}

.load__game-btn {
  width: 100%;
}

.load__pgn-file {
  margin-top: 2rem;
}

.load__pgn-file-info {
  font-size: 1.3rem;
}

.load__pgn-file-info p {
  margin-top: 1rem;
  color: var(--color-text-dimmed);
}

.load__link-input {
  margin-top: 2rem;
}

.load__daily-game {
  margin-top: 2rem;
  font-size: 1.4rem;
  text-align: left;
  text-transform: capitalize;
}

.load__recent {
  font-size: 1.4rem;
  text-align: left;
  list-style: circle;
}

.load__recent-item {
  margin-bottom: 0.5rem;
  margin-left: 2rem;
}

.load__recent-options {
  font-size: 1.4rem;
  text-align: left;
  margin-top: 1rem;
  color: var(--color-text-dimmed);
}

.load__recent-delete-item {
  position: relative;
  display: none;
}

.load__recent-item:hover .load__recent-delete-item {
  display: inline;
}

.load__recent-delete-item:hover {
  cursor: pointer;
  color: var(--color-warning);
}

@media (orientation: portrait) {
  .load__game-input {
    height: 20vh;
  }
}

@media (orientation: landscape) and (max-height: 400px) {
  .load__game-input {
    height: 30vh;
  }
}
