.pieces {
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.pieces__ico {
  border: solid 5px transparent;
  margin: 5px;
  cursor: pointer;
  width: 7.2rem;
  height: 7.2rem;
  background-color: var(--color-highlight);
  border-radius: 0.5rem;
  filter: drop-shadow(0.5rem 0.5rem 0.5rem black);
}

.pieces__ico--active {
  border-color: var(--color-frame-marker-active);
  cursor: default;
}
