.setup-box {
  /* background: rgba(135, 207, 235, 0.1); */
  height: 100vh;
  grid-area: setup;
  padding: 20px;
}

.setup {
  font-size: 1.6rem;
  height: 100%;
  display: grid;
  grid-template-rows: 38px 1fr;
}

.setup-tabs__btn {
  width: 32%;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  height: 38px;
}

.setup-tabs__btn--active {
  background: #0e0e13;
  color: #aaa;
  cursor: default;
}

.setup-tabs__btn--active:hover {
  background: #0e0e13;
}

.setup-tabs__btn:nth-child(1),
.setup-tabs__btn:nth-child(2) {
  margin-right: 2%;
}
