.setup-box {
  height: 100vh;
  grid-area: setup;
  padding: 20px;
  padding-top: var(--header-margin);
  min-width: 360px;
}

.setup {
  font-size: 1.6rem;
  height: 100%;
  display: grid;
  grid-template-rows: 38px 1fr;
}

.setup-tabs__btn {
  width: 32%;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  height: 38px;
  background: var(--color-tab);
}

.setup-tabs__btn:hover {
  background: var(--color-tab-light);
}

.setup-tabs__btn--active {
  background: var(--color-bg-block);
  color: var(--color-text);
  cursor: default;
}

.setup-tabs__btn--active:hover {
  background: var(--color-bg-block);
}

.setup-tabs__btn:nth-child(1),
.setup-tabs__btn:nth-child(2) {
  margin-right: 2%;
}
