.setup-box {
  height: 100vh;
  grid-area: setup;
  padding: 2rem;
  padding-top: var(--header-margin);
  min-width: 35rem;
}

.setup {
  font-size: 1.6rem;
  height: 100%;
  display: grid;
  grid-template-rows: 3.8rem 1fr;
}

.setup-tabs {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 0.5rem;
}
