.share {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.share__format,
.share__size {
  padding: 0.8rem;
  border-radius: 0;
  margin-bottom: 1rem;
  opacity: 0.5;
}

.share__format {
  width: 33.33%;
}

.share__size {
  width: 20%;
}

.share__format--first,
.share__size--first {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.share__format--last,
.share__size--last {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.share__format--active,
.share__size--active {
  opacity: 1;
}

.share__format--active:hover,
.share__size--active:hover {
  cursor: default;
}

.share__btn {
  margin-bottom: 1rem;
}

.header--first {
  margin-top: 0;
  margin-bottom: 2.5rem;
}

.options__button {
  margin: 3px;
  padding: 0.5rem;
  font-size: 3rem;
  line-height: 3rem;
  text-align: center;
  border-radius: 5px;
  width: 4rem;
  height: 4rem;
  opacity: 0.5;
}

.options__button--active {
  opacity: 1;
}

.options__button:hover {
  background: var(--color-btn-light);
  cursor: pointer;
}

.options__button--last {
  margin-right: 0px;
}

.options__button--first {
  margin-left: 0px;
}

.rotatable {
  transition: transform 0.3s;
}

.rotated {
  transform: rotate(180deg);
}

.stylus {
  text-align: left;
  font-size: 1.4rem;
  margin-left: 1.5rem;
  color: var(--color-text);
  font-family: "Fira Mono", monospace;
}

.delimiter {
  color: var(--color-highlight);
}

.share__stylus {
  margin-top: 2rem;
  background-color: var(--color-btn-accent);
  font-size: 2rem;
  line-height: 2rem;
  padding: 1.5rem;
}

.share__stylus:hover {
  background-color: var(--color-btn-accent-light);
}

.share__stylus span {
  font-size: 1.2rem;
  line-height: 1.2rem;
}
