.share__format,
.share__size {
  padding: 10px;
  border-radius: 0;
  margin-bottom: 10px;
  opacity: 0.5;
}

.share__format {
  width: 33.33%;
}

.share__size {
  width: 20%;
}

.share__format--first,
.share__size--first {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.share__format--last,
.share__size--last {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.share__format--active,
.share__size--active {
  opacity: 1;
}

.share__format--active:hover,
.share__size--active:hover {
  background: rgb(0, 173, 136);
  cursor: default;
}

.share__btn {
  margin-bottom: 10px;
}

.header--first {
  margin-top: 0;
  margin-bottom: 25px;
}

.options__button {
  margin: 3px;
  padding: 5px;
  font-size: 3rem;
  background: rgb(0, 173, 136);
  text-align: center;
  border-radius: 5px;
  width: 44px;
  height: 44px;
  opacity: 0.5;
}

.options__button--active {
  opacity: 1;
}

.options__button:hover {
  background: rgb(0, 207, 162);
  cursor: pointer;
}

.options__button--last {
  margin-right: 0px;
}

.options__button--first {
  margin-left: 0px;
}

.rotatable {
  transition: transform 0.3s;
}

.rotated {
  transform: rotate(180deg);
}
