@-moz-document domain("chess.com") {
  .piece.bb,
  .promotion-piece.bb {
    background-image: url(https://raw.githubusercontent.com/sharechess/sharechess/main/public/pieces/anarchy_candy/bb.svg) !important;
  }

  .piece.bn,
  .promotion-piece.bn {
    background-image: url(https://raw.githubusercontent.com/sharechess/sharechess/main/public/pieces/anarchy_candy/nb.svg) !important;
  }

  .piece.br,
  .promotion-piece.br {
    background-image: url(https://raw.githubusercontent.com/sharechess/sharechess/main/public/pieces/anarchy_candy/rb.svg) !important;
  }

  .piece.bp,
  .promotion-piece.bp {
    background-image: url(https://raw.githubusercontent.com/sharechess/sharechess/main/public/pieces/anarchy_candy/pb.svg) !important;
  }

  .piece.bq,
  .promotion-piece.bq {
    background-image: url(https://raw.githubusercontent.com/sharechess/sharechess/main/public/pieces/anarchy_candy/qb.svg) !important;
  }

  .piece.bk,
  .promotion-piece.bk {
    background-image: url(https://raw.githubusercontent.com/sharechess/sharechess/main/public/pieces/anarchy_candy/kb.svg) !important;
  }

  .piece.wb,
  .promotion-piece.wb {
    background-image: url(https://raw.githubusercontent.com/sharechess/sharechess/main/public/pieces/anarchy_candy/bw.svg) !important;
  }

  .piece.wn,
  .promotion-piece.wn {
    background-image: url(https://raw.githubusercontent.com/sharechess/sharechess/main/public/pieces/anarchy_candy/nw.svg) !important;
  }

  .piece.wr,
  .promotion-piece.wr {
    background-image: url(https://raw.githubusercontent.com/sharechess/sharechess/main/public/pieces/anarchy_candy/rw.svg) !important;
  }

  .piece.wp,
  .promotion-piece.wp {
    background-image: url(https://raw.githubusercontent.com/sharechess/sharechess/main/public/pieces/anarchy_candy/pw.svg) !important;
  }

  .piece.wq,
  .promotion-piece.wq {
    background-image: url(https://raw.githubusercontent.com/sharechess/sharechess/main/public/pieces/anarchy_candy/qw.svg) !important;
  }

  .piece.wk,
  .promotion-piece.wk {
    background-image: url(https://raw.githubusercontent.com/sharechess/sharechess/main/public/pieces/anarchy_candy/kw.svg) !important;
  }
}
