.popup {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 2rem;
  display: grid;
  vertical-align: middle;
}

.popup__box {
  background-color: var(--color-bg-block);
  max-width: 300px;
  width: 100%;
  margin: auto;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 2rem #00000099;
  position: relative;
  border: solid 1px var(--color-highlight);
}

.popup__close {
  width: 3.2rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.popup__title {
  text-align: left;
  margin: 0 4.2rem 3rem 0;
}

.popup__content {
  text-align: left;
  font-size: 1.2rem;
}

.popup__content p {
  margin-top: 2rem;
}

.popup__content ul {
  margin-top: 2rem;
}

.popup__content li {
  margin-top: 0.5rem;
  margin-left: 2rem;
}
