@import url("https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@500;700&display=swap");

body {
  background-color: #111;
  background-image: url(01.png);
  background-attachment: fixed;
  text-align: center;
  padding-top: 50px;
}

.board {
  /* width: 600px;
  height: 600px;
  width: 800px;
  height: 800px; */
  /* width: 1024px;
  height: 1024px; */
  margin: 10px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

.font-init-a {
  height: 0;
  font-family: "Fira Mono";
}

.font-init-b {
  height: 0;
  font-family: "Ubuntu";
  font-weight: 500;
}

.font-init-c {
  height: 0;
  font-family: "Ubuntu";
  font-weight: 700;
}
