@font-face {
  font-family: "Chess";
  src: url("chess.ttf") format("ttf");
}

* {
  border: 0;
  margin: 0;
  padding: 0;
}

body {
  background-color: #111;
  background-image: url(background.png);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  text-align: center;
  padding-top: 50px;
}

.board {
  /* width: 600px;
  height: 600px;
  width: 800px;
  height: 800px; */
  /* width: 1024px;
  height: 1024px; */
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  max-width: 100%;
}
