@font-face {
  font-family: "Chess";
  src: url("chess.ttf") format("ttf");
}

* {
  border: 0;
  margin: 0;
  padding: 0;
}

body {
  background-repeat: repeat;
  background-position: center;
  text-align: center;
}

.dark {
  background-color: #191d24;
  background-image: url(pattern.png);
}

.light {
  background-color: #cfcfcf;
  background-image: url(pattern-light.png);
}

.board {
  /* width: 600px;
  height: 600px;
  width: 800px;
  height: 800px; */
  /* width: 1024px;
  height: 1024px; */
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  max-width: 100%;
  max-height: 95vh;
}

.layout {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.moves-box {
  background: rgba(255, 192, 203, 0.5);
  height: 100vh;
}

.board-box {
  background: rgba(255, 166, 0, 0.5);
  height: 100vh;
}

.setup-box {
  background: rgba(135, 207, 235, 0.5);
  height: 100vh;
}
